.promo {
    position: relative;
    padding: 216px 0 322px 0;
    &__title {
        font-weight: 400;
        font-size: 30px;
        text-transform: uppercase;
        color: $whitecolor;
        /*         animation: animate 1s linear infinite;
        position: absolute; */
    }
    /*     @keyframes animate {
        from {
            Left: -10px;
        }
        to {
            left: 15px
        }
    } */
    .subtitle {
        font-size: 100px;
    }
}